body
{
	background-color : skyblue;
}
form
{
	width : 600px;
	height : 200px;
	position : relative;
	top : 100px;
	left : 550px;
	color : blue;
	padding-bottom: 300px;

}
header 
{
	#background-color : blue;
	background-image : url("https://www.cnil.fr/sites/default/files/styles/contenu-generique-visuel/public/thumbnails/image/ia_de_quoi_parle_t-on.png?itok=rYfJJY-7");
	background-image : no-repeat;
}
header p 
{
	font-size : 30px;
	position : relative;
	left : 650px;
	top : 30px;
}
