body
{
	background-color : skyblue;
}
form
{
	width : 600px;
	height : 200px;
	position : relative;
	top : 100px;
	left : 550px;
	color : blue;
	padding-bottom: 300px;

}
header 
{
	background-color : white;
}
header p 
{
	font-size : 30px;
	position : relative;
	left : 650px;
}
fieldset
{
	height : 500px;
	position : relative;
	bottom : 400px;
}
header button
{
	position : relative;
	left : 1450px;
	bottom : 40px;
}
.decaler
{
	position : relative;
	left : 1250px;
	bottom : 50px;
}
a 
{
	color : blue;
}
nav
{
	background-color : white;
	width :300px;
	height: 300px;
	position : relative;
	left : 1200px;
}
ul
{
	font-size : 25px;
}
.accordion
{
	position : relative;
	left : 600px;
	height : 300px;
	width : 400px;
	bottom : 220px;
}
