body
{
	
	background-image : url("https://previews.123rf.com/images/antishock/antishock1408/antishock140800401/30835507-ic%C3%B4ne-connexion-logo-de-l-entreprise-concept-d-entreprise.jpg");
	background-image : no-repeat;
}
form
{
	/*border-style : groove;*/
	background-color: white;
	width : 400px;
	height : 280px;
	position : relative;
	left : 650px;
	top : 200px;
	margin-bottom: 500px;
}
fieldset
{
	height : 550px;
}
h1
{
	font-size : 55px;
	font-weight : 20px;
	position : relative;
	left : 670px;
}
